.banner {
  display: flex;
  justify-content: space-around;
  margin-left: 20%;
  margin-right: 15%;
  width: 60%;

}
@media (max-width: 425px) {
  .banner {
    margin-left: 20%;
    margin-right: 2%;

  }
}
